* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1;
  font-family: "Lexend", sans-serif;
  background-color: var(--body-full);
  transition: background 0.25s ease-in;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --black: black;
  --gray: rgba(31, 25, 25, 0.621);
  --body-full: #fff;
  --dark-color: #1b1c57;
  --gray-87-color: #626687;
  --gray-97-color: #888b97;
  --orange-color: #f59e0b;
  --opacity-blur: 0.75;
  --price-color: #3c4563;
  --shadow-blur: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --fill-color: white;
  --h-articles-image: 190px;
}

[data-theme=dark] {
  --black: #f83075;
  --gray: #5464ff;
  --body-full: #111111;
  --dark-color: #71f2b0;
  --gray-color: #ffffff;
  --gray-97-color: #ffffff;
  --opacity-blur: 1;
  --price-color: #ffe685;
  --shadow-blur: 0px 4px 4px rgb(96 191 142);
  --fill-color: transparent;
}

.wrapper-loader {
  background-color: #30336b;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.delay-loading {
  display: none;
}

.wrapper {
  display: none;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.wrapper__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.wrapper__blur {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
@media only screen and (max-width: 1023px) {
  .wrapper__bg {
    display: none;
  }
  .wrapper-hero {
    margin-top: 40px;
    max-width: 100%;
  }
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #ffffff;
  text-decoration: none;
  padding: 12.8px 24px 12.8px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5714285714;
  border-radius: 32px;
  background: #10b981;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn__icon-right {
  margin-left: 14px;
}
.btn__icon-phone {
  margin-right: 16px;
}
@media only screen and (max-width: 479px) {
  .btn__icon-phone {
    margin-right: 4px;
  }
}
@media only screen and (max-width: 767px) {
  .btn {
    font-size: 12.8px;
    padding: 10px 14px;
  }
  .btn__icon-right {
    margin-left: 10px;
  }
}

.heading-block--center {
  text-align: center;
}
.heading-block__line {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2857142857;
  color: var(--orange-color);
  position: relative;
  text-transform: capitalize;
}
.heading-block__line-center::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 1.2px;
  background-color: var(--orange-color);
  top: 50%;
  right: calc(100% + 8px);
}
.heading-block__line-top::before {
  content: "";
  width: 32px;
  height: 1.2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
  background-color: var(--orange-color);
}
@media only screen and (max-width: 479px) {
  .heading-block h2 {
    font-size: 24px;
  }
}

h2 {
  margin-top: 12px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  color: var(--dark-color);
  text-transform: capitalize;
}

.toggle-switch {
  display: inline-block;
  cursor: pointer;
  z-index: 9999;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .toggle-switch {
    display: block;
  }
}

.darkmode-input {
  padding: 0;
  line-height: inherit;
  color: inherit;
  outline: none;
}

.darkmode-input.hidden {
  display: none;
}

.darkmode-main {
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 99px;
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  z-index: 50;
  padding: 5px;
  transition: color 0.25s linear;
  background-color: #d1d1cf;
}

.darkmode-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-sunny,
.btn-moon {
  font-size: 19px;
}

.hidden {
  display: none;
}

.darkmode-input:checked + div {
  background-color: white;
}

.darkmode-input:checked + div .darkmode-spinner {
  color: white;
  transform: translateX(60px);
  background-color: #111111;
}

.darkmode-input:checked + div .darkmode-spinner .btn-sunny {
  display: none;
}

.darkmode-input:checked + div .darkmode-spinner .btn-moon {
  display: block;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #3c4563 !important;
}

.owl-theme .owl-dots .owl-dot span {
  background: #e0e3eb;
}

.about-carousel .owl-stage {
  margin-bottom: 22px;
}

.popup-video {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999999999;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: transform 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  opacity: 0;
  transform: scale(0);
}
.popup-video.active {
  opacity: 1;
  transform: scale(1);
}
.popup-video video {
  cursor: initial;
  max-width: 900px;
}

@media only screen and (max-width: 991px) {
  .popup-video video {
    max-width: 90%;
  }
}
.wrapper__blur,
.house__blur,
.articles__blur,
.footer__blur {
  display: none;
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .wrapper__blur,
.house__blur,
.articles__blur,
.footer__blur {
    display: block;
  }
}
.header-image {
  display: none;
}
.header-top__main {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 16px;
}
.header-top__nav {
  display: flex !important;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}
.header-top__item {
  display: inline-block;
}
.header-top__item:not(:first-child) {
  margin-left: 24px;
}
.header-top__gap {
  display: inline-block;
  width: 30px;
}
.header-top__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  color: #f0f3fd;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  display: inline-flex;
}
.header-top__link img {
  margin-left: 10px;
}
.header-top__menu {
  z-index: 99;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-top__bar, .header-top__close {
  display: none;
  font-size: 36px;
  color: white;
}
.header-top__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5714285714;
  color: #047857;
  text-decoration: none;
  background-color: #d1fae5;
  border-radius: 32px;
  padding: 12px 24px;
  margin-left: 54px;
  display: block;
}
.header-hero {
  margin-top: 95px;
  max-width: 496px;
}
.header-hero__heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.25;
  color: var(--dark-color);
  text-shadow: var(--shadow-blur);
  text-transform: capitalize;
}
.header-hero__heading span {
  font-family: "Roboto", sans-serif;
  padding-top: 60px;
  font-size: 40px;
  font-weight: 400;
  -webkit-text-stroke: 1.2px var(--dark-color);
  -webkit-text-fill-color: var(--fill-color);
}
.header-hero__desc {
  margin: 24px 0 32px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--gray-87-color);
  opacity: var(--opacity-blur);
}
.header-hero__form {
  padding: 4px 4px 4px 24px;
  max-width: 496px;
  height: 56px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  border: 1px solid #e0e3eb;
  border-radius: 32px;
}
.header-hero__search {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
}
.header-hero__input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-family: "Lexend", sans-serif;
  margin: 0 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5714285714;
  color: #888b97;
}
.header-hero__input::placeholder {
  color: inherit;
}
.header-hero__text {
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--gray-97-color);
}
.header-hero__brand {
  display: flex !important;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-hero__brand img {
  width: 82.75px;
  height: 64px;
  transition: filter 0.25s linear;
  cursor: pointer;
}
.header-hero__brand img:not(:last-child) {
  margin-right: 32px;
}
.header-hero__brand img:hover {
  filter: brightness(1.75);
}
@media only screen and (max-width: 1023px) {
  .header-hero {
    margin-top: 50px;
    max-width: 100%;
  }
  .header-top__link {
    color: var(--dark-color);
    border: 1px solid #10b981;
  }
  .header-top__link img {
    filter: brightness(0);
  }
}
@media only screen and (max-width: 767px) {
  .header-top__menu {
    display: block !important;
    position: fixed;
    background: white;
    max-width: 300px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow-y: auto;
    top: 0;
    right: 0;
    z-index: 9999999999999;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out;
  }
  .header-top__menu.active {
    transform: translateX(0);
  }
  .header-top__nav {
    flex-direction: column;
    margin-top: 40px;
  }
  .header-top__item:not(:nth-child(9999)) {
    margin-left: 0;
  }
  .header-top__item {
    margin-bottom: 40px;
  }
  .header-top__link {
    display: block;
    color: var(--dark-color);
    border: initial;
  }
  .header-top__link img {
    display: none;
  }
  .header-top__btn {
    margin-top: 8px;
    margin-left: 0;
  }
  .header-top__bar, .header-top__close {
    display: block;
    filter: brightness(0);
  }
  .header-top__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--dark-color);
  }
  .header-hero {
    margin-top: 30px;
  }
  .header-hero__form {
    padding: 4px 4px 4px 15px;
    height: 48px;
  }
  .header-hero__input {
    font-size: 12px;
    margin: 0 12px;
  }
  .header-hero__text {
    margin-top: 24px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 479px) {
  .header-hero__brand {
    flex-wrap: wrap;
  }
  .header-hero__brand img:not(:last-child) {
    margin-right: 12px;
  }
}
@media only screen and (max-width: 424px) {
  .header-hero {
    margin-top: 24px;
  }
  .header-hero__heading {
    font-size: 32px;
  }
  .header-hero__heading span {
    font-size: inherit;
  }
  .header-hero__desc {
    font-size: 15px;
  }
}

.featured {
  margin-top: 210px;
}
.featured__wrapper {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.featured__tab {
  list-style: none;
}
.featured__item {
  display: inline-block;
}
.featured__item:not(:last-of-type) {
  margin-right: 32px;
}
.featured__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--gray-97-color);
  border: 1px solid #e0e3eb;
  border-radius: 32px;
  padding: 12px 24px;
  display: inline-block;
}
.featured__link.active {
  background-color: #d1fae5;
  color: #10b981;
  border-radius: 32px;
}
.featured__link img {
  margin-right: 4px;
}
.featured__direction {
  display: flex !important;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.featured__icon {
  padding: 12px 16px;
  border-radius: 32px;
  width: 60px;
  height: 52px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  user-select: none;
}
.featured__icon--left {
  background-color: #e0e3eb;
  margin-right: 16px;
}
.featured__icon--right {
  background-color: #10b981;
}
.featured-carousel {
  margin-top: 40px;
}
.featured-carousel__item {
  width: 340px;
}
.featured-carousel__image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  overflow: hidden;
  height: 382px;
  position: relative;
}
.featured-carousel__image > img {
  max-width: 100%;
  height: 100%;
  border-radius: 24px;
}
.featured-carousel__label {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2857142857;
  border-radius: 32px;
  padding: 8px 16px;
  white-space: nowrap;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.featured-carousel__label img {
  width: 11px;
  height: 14px;
  margin-right: 10px;
}
.featured-carousel__label--red {
  background-color: #fee2e2;
  color: #ef4444;
}
.featured-carousel__label--blue {
  background-color: #dbeafe;
  color: #1d4ed8;
}
.featured-carousel__label--green {
  background-color: #d1fae5;
  color: #047857;
}
.featured-carousel__content {
  margin-top: 24px;
}
.featured-carousel__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3333333333;
  color: var(--dark-color);
  margin-bottom: 8px;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.featured-carousel__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: var(--price-color);
}
.featured-carousel__author {
  margin-top: 24px;
  display: flex !important;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.featured-carousel__avatar {
  width: 40px !important;
  height: 40px !important;
}
.featured-carousel__intro {
  margin-left: 16px;
}
.featured-carousel__intro h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3333333333;
  color: var(--dark-color);
  margin-bottom: 4px;
}
.featured-carousel__intro p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5714285714;
  color: var(--gray-97-color);
}
@media only screen and (max-width: 1023px) {
  .featured {
    margin-top: 60px;
  }
  .featured__tab {
    margin-left: 20px;
  }
  .featured__item:not(:last-child) {
    margin-right: 6px;
  }
  .featured__link {
    font-size: 16px;
    padding: 10px 20px;
  }
  .featured__direction {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .featured__wrapper {
    flex-direction: column;
  }
  .featured__tab {
    margin-top: 12px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 479px) {
  .featured__tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .featured__item:not(:nth-child(9999)) {
    margin-right: 0;
  }
  .featured__item:not(:nth-child(9999)):not(:first-child) {
    margin-top: 10px;
  }
  .featured__link {
    display: block;
  }
}
.featured .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 35px;
}

.house {
  padding-top: 148px;
  position: relative;
}
.house__blur {
  position: absolute;
  top: -12rem;
  right: 0;
  pointer-events: none;
  z-index: -1;
}
.house-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.house-content {
  max-width: 524px;
  width: 100%;
  margin-right: 148px;
}
.house-content__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--gray-87-color);
  opacity: 0.75;
  margin: 16px 0;
}
.house-content__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: var(--dark-color);
  opacity: 0.75;
  margin-bottom: 16px;
  display: block;
}
.house-content__detail {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 32px;
  max-width: 440px;
  margin-bottom: 32px;
  border-bottom: 2px solid #f0f3fd;
}
.house-content__column:first-child {
  margin-right: 50px;
}
.house-content__group {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.house-content__group img {
  width: 32px;
  height: 32px;
}
.house-content__group:first-child {
  margin-bottom: 22px;
}
.house-content__group span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #3c4563;
  text-transform: capitalize;
  margin-left: 16px;
}
.house-content__contact {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 440px;
}
.house-content__author {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 57px;
}
.house-content__author img {
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.house-content__main {
  margin-left: 24px;
}
.house-content__main h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3333333333;
  color: var(--dark-color);
  margin-bottom: 4px;
}
.house-content__main p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-97-color);
}
.house-image {
  max-width: 528px;
  width: 100%;
  cursor: pointer;
}
.house-image img {
  width: 100%;
}
@media only screen and (max-width: 1279px) {
  .house-content {
    margin-right: 60px;
  }
  .house-content__author {
    margin-right: 6px;
  }
}
@media only screen and (max-width: 920px) {
  .house {
    padding-top: 80px;
    margin-bottom: 20px;
  }
  .house-wrapper {
    flex-direction: column;
  }
  .house-content {
    max-width: fit-content;
    margin-right: 0;
    margin-bottom: 28px;
  }
  .house-content__column:first-child {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 479px) {
  .house-content__main h4 {
    font-size: 16px;
  }
  .house-content__main p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 424px) {
  .house-content__detail {
    margin-bottom: 12px;
    padding-bottom: 24px;
  }
  .house-content__contact {
    flex-direction: column;
  }
  .house-content__author {
    margin-bottom: 10px;
  }
}

.about {
  margin: 129px 0 125px;
}
.about-carousel {
  margin-top: 40px;
}
.about__image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-carousel__item {
  width: 740px;
  max-width: 100%;
}
.about-carousel__image {
  border-radius: 8px;
  height: 400px;
  object-fit: cover;
}
.about-carousel__content {
  position: relative;
  margin: -145px auto 0;
  padding: 32px;
  width: 612px;
  max-width: 100%;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
}
.about-carousel__content > h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: var(--dark-color);
  text-transform: capitalize;
  word-break: break-all;
}
.about-carousel__content > p {
  word-break: break-all;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--gray-87-color);
  margin: 16px 0 24px 0;
}
.about-carousel__group {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.about-carousel__author {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.about-carousel__intro {
  margin-left: 24px;
}
.about-carousel__intro h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5714285714;
  color: var(--dark-color);
}
.about-carousel__intro p {
  margin-top: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5714285714;
  color: var(--gray-97-color);
}
.about-carousel__avatar {
  width: 40px !important;
  height: 40px !important;
}
.about-carousel__review {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.about-carousel__review img {
  pointer-events: none;
  width: 23px !important;
  height: 23px !important;
}
.about-carousel__review span {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: var(--price-color);
  margin-left: 16px;
}
@media only screen and (max-width: 479px) {
  .about {
    margin-top: 100px;
  }
  .about-carousel__image {
    border-radius: initial;
    height: 250px;
  }
  .about-carousel__content {
    padding: 24px;
    margin: 0;
  }
}
@media only screen and (max-width: 424px) {
  .about-carousel__image {
    height: 200px;
  }
}

.articles {
  position: relative;
}
.articles__blur {
  position: absolute;
  top: -155px;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
.articles__wrapper {
  display: flex !important;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 42px;
}
.articles__column {
  width: 100%;
  max-width: 572px;
}
.articles__column:nth-child(2) {
  max-width: 560px;
  margin-left: 68px;
}
.articles__item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.articles__item:not(:last-child) {
  margin-bottom: 42px;
}
.articles__image {
  width: 200px;
  height: 144px;
  border-radius: 16px;
  margin-right: 32px;
  display: block;
  object-fit: cover;
}
.articles__author {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.articles__author img {
  margin-right: 16px;
}
.articles__author span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5714285714;
  color: #3c4563;
  word-break: break-all;
}
.articles__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7777777778;
  color: var(--dark-color);
  text-transform: capitalize;
  margin: 12px 0;
  word-break: break-all;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.articles__title--large {
  font-size: 24px;
}
.articles__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #626687;
  margin-bottom: 16px;
}
.articles__calendar {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.articles__calendar img {
  pointer-events: none;
}
.articles__calendar span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--gray-97-color);
  margin-left: 12px;
}
.articles__image-big {
  border-radius: 16px;
  max-width: 100%;
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
  margin-bottom: 24px;
}
.articles .btn {
  margin-top: 24px;
}
@media only screen and (max-width: 1023px) {
  .articles__wrapper {
    flex-direction: column;
  }
  .articles__column:not(:nth-child(9999)) {
    max-width: 100%;
    margin-left: 0;
  }
  .articles__column:last-child {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 479px) {
  .articles__item {
    flex-direction: column;
  }
  .articles__image-big {
    height: var(--h-articles-image);
  }
  .articles__image {
    margin-right: 0;
    width: 100%;
    height: var(--h-articles-image);
  }
  .articles__content {
    margin-top: 20px;
  }
}

.subscribe {
  margin-top: 120px;
}
.subscribe__bg {
  background-image: url("../images/subscribe-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}
.subscribe__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: #1b1c57;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 424px;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.subscribe__content {
  max-width: 496px;
  width: 100%;
  margin: 0 auto;
  padding: 65px 0;
  text-align: center;
}
.subscribe__form {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 496px;
  background-color: white;
  box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 32px;
  padding: 4px 4px 4px 26px;
}
.subscribe__email {
  display: flex !important;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 16px;
  flex-grow: 1;
}
.subscribe__email img {
  pointer-events: none;
}
.subscribe__email input {
  margin-left: 16px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5714285714;
  font-family: "Lexend", sans-serif;
  color: var(--gray-97-color);
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .subscribe {
    margin-top: 80px;
  }
  .subscribe__bg {
    background-image: unset;
  }
  .subscribe__content {
    padding: 0;
  }
  .subscribe__title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 424px) {
  .subscribe__title {
    margin-bottom: 12px;
  }
  .subscribe__form {
    flex-direction: column;
    box-shadow: unset;
    padding: 0;
  }
  .subscribe__email {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .subscribe__email img {
    display: none;
  }
  .subscribe__email input {
    margin-left: 0;
    text-align: center;
    padding: 20px;
  }
}

.footer {
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}
.footer__blur {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.footer__column:not(:last-child) {
  margin-right: 88px;
}
.footer__column:first-child {
  margin-right: 260px;
}
.footer__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  margin: 16px 0 24px;
  color: #626687;
  opacity: 0.75;
}
.footer__icon {
  text-decoration: none;
}
.footer__icon:not(:last-child) {
  margin-right: 28px;
}
.footer__icon img {
  pointer-events: none;
}
.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.7777777778;
  color: var(--dark-color);
  text-transform: capitalize;
  margin-bottom: 24px;
}
.footer__list {
  list-style-type: none;
}
.footer__item:not(:last-child) {
  margin-bottom: 18px;
}
.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  color: #888b97;
  text-transform: capitalize;
  transition: color 0.25s linear;
}
.footer__link:hover {
  color: #10b981;
}
.footer__copyright {
  font-size: 14.5px;
  margin-bottom: 20px;
  color: var(--dark-color);
}
.footer__copyright-icon {
  font-size: 30px;
  padding: 0 4px;
}
.footer__copyright-admin {
  line-height: 2.6;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: color 0.25s linear;
}
.footer__copyright-admin:hover {
  color: #10b981;
}
@media only screen and (max-width: 1279px) {
  .footer__column:first-child {
    margin-right: 60px;
  }
}
@media only screen and (max-width: 1023px) {
  .footer {
    padding: 80px 0 60px;
  }
  .footer__column:not(:nth-child(9999)) {
    margin-right: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 60px 0 40px;
  }
  .footer__wrapper {
    grid-template-columns: 1fr;
  }
  .footer__column:not(:nth-child(9999)) {
    margin-right: 0;
  }
  .footer__column:not(:last-child) {
    margin-bottom: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
